:root {
  --bg-dark: oklch(0.1 0.04 243);
  --bg: oklch(0.15 0.04 243);
  --bg-light: oklch(0.2 0.04 243);
  --text: oklch(0.96 0.08 243);
  --text-muted: oklch(0.76 0.08 243);
  --highlight: oklch(0.5 0.08 243);
  --border: oklch(0.4 0.08 243);
  --border-muted: oklch(0.3 0.08 243);
  --primary: oklch(0.76 0.1 243);
  --secondary: oklch(0.76 0.1 63);
  --danger: oklch(0.7 0.08 30);
  --warning: oklch(0.7 0.08 100);
  --success: oklch(0.7 0.08 160);
  --info: oklch(0.7 0.08 260);

  font-family: system-ui;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: .25rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 { 
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p + p {
  margin-top: .5rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  color: var(--text);
  background-color: var(--bg-dark);
}

body.light {
  --bg-dark: oklch(0.92 0 243);
  --bg: oklch(0.96 0 243);
  --bg-light: oklch(1 0 243);
  --text: oklch(0.15 0 243);
  --text-muted: oklch(0.4 0 243);
  --highlight: oklch(1 0 243);
  --border: oklch(0.6 0 243);
  --border-muted: oklch(0.7 0 243);
  --primary: oklch(0.4 0.1 243);
  --secondary: oklch(0.4 0.1 63);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

#body-header {
  background-color: var(--bg);
}

#body-header > menu {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}

#body-header > menu > li {
  list-style: none;
}

#body-header > menu > li:first-child {
  margin-left: auto;
}

#body-header > menu > li:last-child {
  margin-right: auto;
}

#body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  max-width: min(896px, 66%);
  margin: 2rem auto;
}

#body-footer {
  margin-top: auto;
  padding: 1rem 0;

  background-color: var(--bg);

  font-size: smaller;
  text-align: center;
}

#body-content > article {
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

.article-tags {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  
  margin-bottom: 1rem;
  font-size: smaller;
  color: var(--text-muted);
}

.article-tags .article-tags-label {
  display: inline;
  padding: .25rem 0;
  color: var(--text-muted);
}

.article-tags > .article-tag {
  padding: .25rem .5rem;
  border-radius: .75rem;
  background-color: var(--bg);
}

.article-footer {
  margin-top: 1rem;
  text-align: right;
  color: var(--text-muted);
}

.article-footer > p {
  display: inline;
  font-size: smaller;
}

.article-footer time {
  font-family: monospace, monospace;
  font-style: italic;
}

.item-separator-small {
  margin-left: .25rem;
  margin-right: .25rem;
}